header {
    margin: 2rem;
    padding: 10px 15px;
    position: sticky;
    z-index: 2;
}

h1 {
    text-align: center;
    font-size: 5rem;

}

header h2 {
    display: block;
    text-align: center;
    font-size: 2rem;


}