.characters-container {
    width: 100%;
    height: 60%;
    text-align: center;
    z-index: 2;
    position: relative;

}

.character-figure {
    width: 40%;
    height: 40%;
    display: inline-block;
    cursor: pointer;
    margin: 1rem;

}

.character-figcaption {
    font-size: 1rem;
    color: var(--primary);
}

.character-image {
    width: 8rem;
    height: 8rem;

}



@media screen and (min-width: 800px) {

    .character-figure {
        width: 20%;
        height: 20%;


    }

    .character-image {
        width: 10rem;
        height: 10rem;

    }

    .character-figcaption {
        font-size: 1.3rem;

    }
}


@media screen and (min-width: 1500px) {
    .character-figure {
        width: 20%;
        height: 20%;


    }

    .character-image {
        width: 12rem;
        height: 12rem;

    }

    .character-figcaption {
        font-size: 1.5rem;

    }
}